@import "../../vars.css";


/* Divider */
.divider {
  width: 90px;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-primary),
    transparent
  );
  margin: 2.5rem auto 3.5rem;
  opacity: 0.7;
}