@import "tailwindcss";


@import "tailwindcss";


*{
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  scroll-snap-align: start;
}

html{
  scroll-behavior: smooth;
  
}